body {
  margin:0px;
  background-color: #cccccc;
}
.backgroundimage{
  width:100vw;
  height:100vh;
  position: absolute;
  background-image: url("images/WhiteHouse.jpg");
  background-size:720px 374px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}
a{
  text-decoration: none;
}
a:link, a:visited {
  color:inherit;
}
.dock {
  width:30vw;
  height: 100vh;
  min-width: 300px;
  color:blue;
  margin-left: 5vw;
  position: absolute;
  overflow: hidden;
  z-index: 10;
}
.title{
  margin-top:50px;
  font-family: ff-scala-sans-pro, sans-serif;
  font-style: normal;
}
.dumb{
  font-size: 81pt;
  font-weight: 800;
}
.subtitle{

  padding-bottom: 12px;
  font-weight: 700;
  font-size: 24pt;
  font-style: italic;
}
.log {
  width:30vw;
  margin-top:30px;
  font-family: ff-scala-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18pt;
  color:blue;
  z-index: 10;
  font-style: italic;
}

#searchbox {
  width:18vw;
  height:40px;
  padding-left: 5px;
  display: inline-block;
  background-color: blue;
  font-family: ff-scala-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12pt;
  color:yellow;
  outline: none;
}
#submitsearch{
  height:40px;
  padding:0;
  font-family: ff-scala-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24pt;
  color:blue;
  background-color: #cccccc;
  text-decoration: none;
  border-width: 0 0 3px;
  border-style: solid;
  border-color: blue;
  cursor:pointer;
  outline: none;
}
#submitsearch:hover {
  color:yellow;
  border-color:yellow;
}
#input-here{
  height:40px;
  width:30vw;
  margin-top:10px;
  font-weight: 700;
  text-align: left;
}
.hint{
  width:25vw;
  padding-top:50px;
  font-family: ff-scala-sans-pro, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 18pt;
  color:#878787;
  position: absolute;
}
.control{
  width:30vw;
  margin-top:48vh;
  font-family: ff-scala-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24pt;
  line-height: 60pt;
  color:blue;
}

.discard{
  color:blue;
  border-style: solid;
  border-width: 0 0 3px 0;
  cursor:pointer;
}
.convict{
  color:blue;
  border-style: solid;
  border-width: 0 0 3px 0;
  cursor:pointer;
}
.discard:hover {
  color:yellow;
  border-color: yellow;
}
.convict:hover {
  color:yellow;
  border-color: yellow;
}
#text-here {
  width:65vw;
  height: 100vh;
  margin-left:33vw;
  position: absolute;
  overflow: scroll;
  font-family: linotype-sabon,serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20pt;
  opacity: 1;
  z-index: 5;
}
.off{
  opacity: 0;
}
