body {
  padding: 0px;
  margin: 0px;
  background-color: #cccccc;
}
a{
  text-decoration: none;
}
a:link, a:visited {
  color: inherit;
}
.win {
  width:55vw;
  margin-left:10vw;
  padding-top:150px;
  font-family: linotype-sabon,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48pt;
  position: absolute;
}
.message {
  width:55vw;
  margin-top:50px;
  font-family: linotype-sabon,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36pt;
}
.trump {
  width:939px;
  height: 470px;
  margin-left: 20vw;
  margin-top:30vh;
  background-image: url("images/Trump_win.png");
  background-repeat: no-repeat;
  background-size: 939px 470px;
  background-position: center;
  position: absolute;
  z-index: -1;
}
.youwin{
  width:30vw;
  margin-left: 62vw;
  margin-top:10vh;
  font-family: ff-scala-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48pt;
  color:blue;
  position: absolute;
}
.back{
  position: absolute;
  margin-left: 65vw;
  margin-top:80vh;
  font-family: ff-scala-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48pt;
  color:blue;
}
span{
  border-width: 0 0 4px;
  border-style: solid;
  border-color: blue;
}
span:hover{
  border-color: yellow;
}
.back:hover{
  color:yellow;
}
